// Web Piano
// Copyright (c) 2016 Shota Shimazu
// This program is freely distributed under the MIT, see LICENSE for detail.


doctype html
html
  include ./Templates/head.jade
  body
    include ./Templates/navbar.jade
    
    .container
      h1 Acknowledgment
      
    .container
      .row
        .col-md-12
          .panel.panel-default
            .panel-body
              h2 Author
              h3 Shota Shimazu
              a(
                href="https://shotastage.github.io"
                class="btn btn-large btn-success"
              ) Web Site
              a(
                href="https://twitter.com/shotastage/"
                class="btn btn-large btn-info"
              ) Twitter
              a(
                href="https://www.facebook.com/shota.shimazu.5"
                class="btn btn-large btn-primary"
              ) Facebook 
              p I'm a student of Environment and Information studies at Keio Univ.
      
  
    
    .container
      h1 Credits
      .row
        .col-md-6
          .panel.panel-info
            .panel-heading
              h3.panel-title Bootswatch
            .panel-body
              a(href="http://bootswatch.com") Web Site
              p Copyright 2012-2016 Thomas Park

          
        .col-md-6
          .panel.panel-info
            .panel-heading
              h3.panel-title ScrollReveal.js
            .panel-body
              a(href="https://scrollrevealjs.org") Web Site
              p Copyright 
                a(href="https://twitter.com/jlmakes") @jlmakes
              
              
    .container
      .row
        .col-md-12
          h2 Source Code
          p You can get source code of this program.
          a(
            href="https://github.com/shotastage/webPiano/archive/master.zip"
            class="btn btn-large btn-primary"
          ) Source Code
        
        
      
  .list-blank  
  include ./Templates/script.jade
  
  
    
